.sidebarRow {
  display: flex;
  padding: 10px 20px;
}

.sidebarRow__icon {
  color: #606060;
}

.sidebarRow__title {
  flex: 1;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
}

.sidebarRow:hover {
  background-color: lightgray;
  cursor: pointer;
  border: 0.1px solid black;
}
.sidebarRow:hover > .sidebarRow__icon {
  color: red;
}
.sidebarRow:hover > .sidebarRow__title {
  font-weight: bold;
}

.sidebarRow.selected {
  background-color: lightgray;
}
.sidebarRow.selected > .sidebarRow__icon {
  color: red;
}
.sidebarRow.selected > .sidebarRow__title {
  font-weight: bold;
}
